# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# For secure credentials
*secure.pkrvars.hcl
*secure.tfvars

# Local .terraform directories
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log
